.hero {
  &__section {
    width: 100%;
    margin: 6rem 0 0 0;
  }
  &__container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 4.5vw;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    p {
      width: 65%;
      font-size: 1.375rem;
      color: #111111;
      font-weight: 400;
    }
  }
  &__text {
    width: 60%;
  }
  &__icons {
    width: 30%;

    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    img {
      width: 4rem;
      height: auto;
    }
  }
  &__img {
    width: 40%;
    img {
      width: 100%;
      height: auto;
      margin-top: -6rem;
      position: relative;
      z-index: 3;
    }
  }
}

.projects {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  margin-top: -4rem;
  padding: 8rem 0;
  &__container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6rem;
  }
  &__title {
    width: 100%;
    text-align: center;
  }
  &__paragraph {
    width: 50%;
    font-size: 1.2rem;
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30rem 30em;
  }
  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card_container {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__card_img {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      border-radius: 20%;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 10px;
    h3 {
      border-bottom: solid 2px white;
    }
    p {
      font-size: 8px;
      margin-top: -2px;
    }
  }
  &__description {
    color: #ffffff;
    margin-top: 10px;
    font-size: 12px;
  }
  .item {
    align-self: end;
  }
}

.expertise {
  &__content {
    width: 100%;
  }
  &__field {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  &__variation {
    flex-direction: row-reverse;
  }
  &__text {
    max-width: 24rem;
    p {
      text-align: center;
      font-size: 14px;
    }
  }
  &__field_title {
    height: 16rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.banner {
  height: 4rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  &__container {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 7);
  }
  &__logo-container {
    width: 250px;
    img {
      height: auto;
      width: 100%;
    }
  }
}
