.hero {
  &__section {
    width: 100%;
    margin: 6rem 0 0 0;
  }
  &__container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 4.5vw;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    p {
      width: 65%;
      font-size: 1.375rem;
      color: #111111;
      font-weight: 400;
    }
  }
  &__text {
    width: 60%;
  }
  &__img {
    width: 40%;
    img {
      width: 100%;
      height: auto;
      margin-top: -6rem;
      position: relative;
      z-index: 3;
    }
  }
}

.projects {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  margin-top: -4rem;
  padding: 8rem 0;
  &__container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
  }
  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6rem;
  }
  &__title {
    width: 100%;
    text-align: center;
  }
  &__paragraph {
    width: 50%;
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30rem 30em;
  }
  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card_container {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__card_img {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      border-radius: 20%;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 10px;
    h3 {
      border-bottom: solid 2px white;
    }
    p {
      font-size: 11px;
      margin-top: -2px;
    }
  }
  &__description {
    color: #ffffff;
    margin-top: 10px;
  }
  .item {
    align-self: end;
  }
}
