@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  font-family: Roboto Mono;
}
@media (max-width: 63.9375em) {
  body {
    font-size: 12px;
  }
}

h1,
h2 {
  font-family: "general sans", sans-serif;
}

h1 {
  width: 100%;
  height: auto;
  font-size: 7.4vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 2rem;
  position: relative;
  z-index: 4;
}
@media (max-width: 63.9375em) {
  h1 {
    font-size: 7vw;
    text-align: center;
  }
}
@media (min-width: 87.5em) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  width: 100%;
  height: auto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-size: 4rem;
}
@media (max-width: 63.9375em) {
  h2 {
    font-size: 3rem;
  }
}
@media (max-width: 47.9375em) {
  h2 {
    font-size: 2rem;
  }
}

p {
  word-spacing: 0.3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.cursor {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #9A3B3B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}
@media (max-width: 63.9375em) {
  .cursor {
    display: none;
  }
}

.navBack {
  width: 100%;
  height: 7rem;
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 0;
}

.navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 47%, rgba(0, 0, 0, 0.8982327922) 67%, rgba(0, 0, 0, 0.7802552641) 95%, rgba(0, 0, 0, 0.3898058259) 100%);
  text-transform: uppercase;
}
.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}
.navbar__container a {
  color: #ffffff;
}
.navbar__links {
  display: flex;
  align-items: center;
}
.navbar__links_container {
  font-size: 12px;
}
.navbar__link {
  padding: 5px 1rem;
  text-align: center;
}
.navbar__cta {
  background-color: #f0e9d2;
}
.navbar__cta p {
  color: black;
  padding: 0.5rem 1rem;
}
@media (max-width: 63.9375em) {
  .navbar__cta p {
    padding: 0;
  }
}

.hero__section {
  width: 100%;
  margin: 6rem 0 0 0;
  display: flex;
  justify-content: center;
}
.hero__container {
  min-height: 600px;
  max-width: 1440px;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 47.9375em) {
  .hero__container {
    padding: 0 20px;
  }
}
.hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.hero__content p {
  width: 65%;
  font-size: 1.375rem;
  color: #111111;
  font-weight: 400;
}
@media (max-width: 63.9375em) {
  .hero__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .hero__content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .hero__content p {
    width: 90%;
    font-size: 1rem;
  }
}
.hero__text {
  display: flex;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 63.9375em) {
  .hero__text {
    align-items: center;
    width: 100%;
  }
}
.hero__icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem 0;
}
.hero__icons img {
  width: 4rem;
  height: auto;
}
.hero__img {
  width: 40%;
}
.hero__img img {
  width: 100%;
  height: auto;
  margin-top: -6rem;
  position: relative;
  z-index: 3;
}
@media (max-width: 63.9375em) {
  .hero__img {
    width: 70%;
  }
  .hero__img img {
    margin: 0;
  }
}
@media (max-width: 47.9375em) {
  .hero__img {
    width: 100%;
  }
}

.projects {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  margin-top: -4rem;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
}
.projects__container {
  padding: 0 2em;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 47.9375em) {
  .projects__container {
    padding: 0 20px;
  }
}
.projects__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.projects__title {
  width: 100%;
  text-align: center;
}
.projects__subtitle_container {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 63.9375em) {
  .projects__subtitle_container {
    flex-direction: column;
    gap: 1rem;
  }
}
.projects__vector_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 63.9375em) {
  .projects__vector_container {
    width: 100%;
  }
}
.projects__paragraph {
  width: 50%;
  max-width: 420px;
  font-size: 1.2rem;
}
@media (max-width: 63.9375em) {
  .projects__paragraph {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}
.projects__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30rem 30rem;
}
@media (max-width: 63.9375em) {
  .projects__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem 20rem;
    gap: 2rem;
  }
}
@media (max-width: 47.9375em) {
  .projects__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 4rem;
  }
}
.projects__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__card_container {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 63.9375em) {
  .projects__card_container {
    width: 60%;
  }
}
.projects__card_img {
  width: 100%;
}
.projects__card_img img {
  width: 100%;
  height: auto;
  border-radius: 20%;
  box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;
}
.projects__title {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 10px;
}
.projects__title h3 {
  border-bottom: solid 2px white;
}
.projects__title p {
  font-size: 8px;
  margin-top: -2px;
}
.projects__description {
  color: #ffffff;
  margin-top: 10px;
  font-size: 12px;
}
.projects .item {
  align-self: end;
}
@media (max-width: 63.9375em) {
  .projects .item {
    align-self: start;
  }
}

.expertise__content {
  width: 100%;
}
.expertise__field {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 63.9375em) {
  .expertise__field {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.expertise__variation {
  flex-direction: row-reverse;
}
@media (max-width: 63.9375em) {
  .expertise__variation {
    flex-direction: column;
  }
}
.expertise__text {
  max-width: 24rem;
}
.expertise__text p {
  text-align: center;
  font-size: 14px;
}
@media (max-width: 63.9375em) {
  .expertise__text p {
    font-size: 12px;
  }
}
.expertise__field_title {
  height: 16rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.banner {
  height: 4rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.banner__container {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 1750px;
}
.banner__logo-container {
  width: 250px;
}
.banner__logo-container img {
  height: auto;
  width: 100%;
}

.footer {
  padding-bottom: 2rem;
}
.footer__contact {
  margin: 2rem 0;
}
.footer__email {
  margin-bottom: 2rem;
}
.footer__social_link {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 3px solid #ffffff;
}
.footer__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.footer__copy p {
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */