@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1em;
  font-family: Roboto Mono;
}

h1,
h2 {
  font-family: 'general sans', sans-serif;
}

h1 {
  width: 100%;
  height: auto;
  font-size: 7.6vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 2rem;
  position: relative;
  z-index: 4;
}

h2 {
  width: 100%;
  height: auto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-size: 4rem;
}

p {
  word-spacing: 0.3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 4em;
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 0;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, black), color-stop(77%, rgba(0, 0, 0, 0.898233)), color-stop(90%, rgba(0, 0, 0, 0.780255)), to(rgba(0, 0, 0, 0.389806)));
  background: linear-gradient(180deg, black 47%, rgba(0, 0, 0, 0.898233) 77%, rgba(0, 0, 0, 0.780255) 90%, rgba(0, 0, 0, 0.389806) 100%);
  text-transform: uppercase;
}

.navbar__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

.navbar__container a {
  color: #ffffff;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  padding: 0 1rem;
}

.navbar__cta {
  background-color: #f0e9d2;
}

.navbar__cta p {
  color: black;
  padding: 0.5rem 1rem;
}

.hero__section {
  width: 100%;
  margin: 6rem 0 0 0;
}

.hero__container {
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content h2 {
  font-size: 4.5vw;
  margin-bottom: 1rem;
  font-weight: 400;
}

.hero__content p {
  width: 65%;
  font-size: 1.375rem;
  color: #111111;
  font-weight: 400;
}

.hero__text {
  width: 60%;
}

.hero__icons {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
}

.hero__icons img {
  width: 4rem;
  height: auto;
}

.hero__img {
  width: 40%;
}

.hero__img img {
  width: 100%;
  height: auto;
  margin-top: -6rem;
  position: relative;
  z-index: 3;
}

.projects {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  margin-top: -4rem;
  padding: 8rem 0;
}

.projects__container {
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 6rem;
}

.projects__title {
  width: 100%;
  text-align: center;
}

.projects__paragraph {
  width: 50%;
  font-size: 1.2rem;
}

.projects__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 30rem 30em;
      grid-template-rows: 30rem 30em;
}

.projects__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__card_container {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__card_img {
  width: 100%;
}

.projects__card_img img {
  width: 100%;
  height: auto;
  border-radius: 20%;
}

.projects__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin-top: 10px;
}

.projects__title h3 {
  border-bottom: solid 2px white;
}

.projects__title p {
  font-size: 8px;
  margin-top: -2px;
}

.projects__description {
  color: #ffffff;
  margin-top: 10px;
  font-size: 12px;
}

.projects .item {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.expertise__field_title {
  height: 16rem;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.footer {
  padding-bottom: 2rem;
}

.footer__contact {
  margin: 2rem 0;
}

.footer__email {
  margin-bottom: 2rem;
}

.footer__social_link {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 3px solid #ffffff;
}

.footer__copy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.footer__copy p {
  font-size: 0.75rem;
}
/*# sourceMappingURL=style.css.map */